body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    margin: auto;
}

/* ATRIBUTO GLOBAL A LAS IMÁGENES */
img {
    cursor: pointer;
}

/* NAVBAR ÍTEMS */
.navbar li {
    display: inline-block;
    text-align: center;
    padding: 0 30px;
    list-style: none;
    font-size: small;
}

a {
    text-decoration: none;
    color: rgb(59, 58, 58);
    transition: var(--trans, color .4s ease 0s);
}

a:hover {
    color: rgb(235, 233, 163);
}


/* BUSCADOR */
.buscadorSection {
    margin-left: 32%;
    margin-top: 17px;
}

#buscadorForm {
    padding: 25px;
}

#buscador {
    width: 400px;
    border: solid 1px rgb(59, 58, 58);
    padding: 10px 10px 10px 20px;
    outline: none;
    transition: var(--trans, border ease 0s);
}

#buscador:hover {
    border: solid 1px rgb(0, 0, 0);
}

/* ARTÍCULO */
article {
    margin-left: 90px;
    width: 750px; /* tamaño total de el artículo */
}

article header p { /* fecha del encabezado del artículo */
    padding-bottom: 25px;
    font-size: small;
}

.descripciónReceta dl dt {
    padding-bottom: 60px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.descripciónReceta img {  /* imagen del budín de pan del artículo */
    width: 750px;
}

#descripciónReceta {
    margin: 40px 0px;
}


/* ASIDE */
aside {
    width: 300px;
    float: right;
    display: grid;
    grid-gap: 50px;
    font-size: medium;
    margin: -890px 100px;
}

.primerAside h1 {
    text-align: center;
}

 aside div a dd{
    margin-left: auto;
}

aside div img {
    width: 300px;
}


/* MAIN */
main {
    margin-left: 90px;
    width: 750px; /* TAMAÑO TOTAL DE EL MAIN EN LA PÁGINA */
}

/* INGREDIENTES */
#títuloSección {
    margin-top: 30px;
}

#ingredientesLista li{
    margin-top: 10px;
}

/* PRIMER VIDEO SOBRE LA PREPARACIÓN */
.video iframe {
    width: 750px;
    height: 400px;
}

/* FORMULARIO CHECKBOX DE PREPARACIÓN */
.pasosPreparación form input {
    margin: 20px 0px 20px 20px;
    position: relative; 
    text-align: right;
}

.pasosPreparación li {
    list-style: none;
    margin: -40px 0px 0px 40px;
}

/* TABLA CON PRODUCTOS Y CALORÍAS */
.tablaProductos {
   margin: 50px 120px;
   border: 1px rgb(59, 58, 58);
}

.tablaProductos table {
    width: 500px;
    height: 400px;
    text-align: center;
    border: .5px solid;
}

.tablaProductos table th {
    background-color: rgb(180, 177, 177);
}

/* TAGS */
.tags ul {
    list-style: none;
}

.tags ul li {
    padding: 5px;
    display: inline;
    color: rgb(110, 110, 110);
    cursor: pointer;
}

/* LÍNEAS DEBAJO DE LOS TAGS */
.línea {
    width: 700px;
    height: 1px;
    background-color: rgb(177, 177, 177);
    margin: 20px 0px;
}

#linksTags a { /* palabras de los links entre las líneas*/
    color: black;
    margin: 3px;
}

/* SECCIÓN DEL SEGUNDO VIDEO Y DEL FORMULARIO */
.videoForm{
    margin-left: 90px;
}

.segundoVideo h1{ /* letra del título del video */
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 60px 0px 20px;
}

.segundoVideo iframe { /* ancho y altura del video */
    width: 800px;
    height: 400px;
}

/* FORMULARIO DE SUSCRIPCION SECCIÓN VIDEO*/
.suscripción {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    display: grid;
    grid-gap: 5px;
    margin: -250px 80px;
    width: 300px;
}

.suscripción h2 { /* título del formulario de suscripción */
    letter-spacing: 0.1em;
}

.suscripción p { /* texto debajo del título del formulario de suscripción */
    font-size: large;
    color: rgb(59, 59, 59);
    margin-top: -10px;
}

#usuarioEmail { /* input del formulario */
    background-color: rgb(199, 197, 197);
    font-size: medium;
    padding: 8px;
    width: 93%;
    border: 2px solid grey;
    margin-bottom: 10px;
}

#botónFormulario {
    width: 100%;
    padding: 10px;
    background-color: grey;
    color: white;
    border: gray;
}

/* SECTION CON OTRAS RECETAS */
.otrasRecetas { 
    display: flex;
    padding: 50px;
    width: 300px;
}

.otrasRecetas div { /* divisores de cada una de las otras recetas */
    margin-left: 30px;
    text-align: center;
}

.otrasRecetas dl b{
    padding: 30px;
}

.otrasRecetas .líneas { /* líneas de las otras recetas */
    width: 70%;
    height: 1px;
    background-color: grey;
    margin-right: auto;
}